.note-card {
  margin-bottom: 16px;
}

.add-note-card {
  margin-top: 32px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button {
  margin-right: 8px;
}

.header-text {
  text-align: center;
  color: green;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px; /* Add some space below the header */
}

.spacer {
  flex: 1 1 auto;
}

.light-blue-button {
  background-color: #ADD8E6 !important;
  color: black !important; /* Para asegurar que el texto sea visible */
}

.info-box {
  border: 1px solid #c8e6c9; /* Un verde muy claro para el borde */
  background-color: #e8f5e9; /* Un verde aún más claro para el fondo */
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
  color: #388e3c; /* Un verde más oscuro para el texto */
}

.user-email-display {
  font-size: 0.8em; /* Tamaño de fuente más pequeño */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis; /* Muestra puntos suspensivos (...) para el texto oculto */
  max-width: 150px; /* Limita el ancho para que no ocupe demasiado espacio */
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #00008b !important; /* Dark Blue */
}