.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
}

mat-form-field {
  width: 100%;
}

/* Change register button color to dark blue */
button[routerLink="/register"] {
  color: #00008b !important; /* Dark Blue */
}